@use 'variables' as v;

// Buttons
.button {
  display: inline-block;
  border-radius: v.$radius-base;
  font-family: v.$font-family-base;
  font-size: v.$font-size-s;
  line-height: v.$line-height-s;
  font-weight: v.$font-weight-normal;
  cursor: pointer;
  text-align: center;
  padding: 12px 3px;

  &--dark {
    background: v.$color-dark;
    color: v.$color-white;
  }

  &--light {
    background: v.$color-white;
    color: v.$color-dark;
  }

  &--light:hover {
    background: v.$color-gray-light;
  }

  &--dark:hover {
    background: v.$color-gray;
  }  
}

// Product card
.product-card {
  background: v.$color-white;
  border-radius: v.$border-radius;

  &__image {
    width: 312px;
    height: 312px;
    border-radius: v.$border-radius;
    filter: brightness(80%);
  }

  &__name {
    margin-top: 8px;
    color: v.$color-dark;
    text-align: left;
  }

  &__price {
    margin-top: v.$margin-vertical-s;
    color: v.$color-gray;
    text-align: left;
  }
}
