@use 'variables' as v;

.h1-desktop {
    font-size: v.$font-size-xl;
    line-height: v.$line-height-xl;
    font-weight: v.$font-weight-xl;
}

.h2-desktop {
    font-size: v.$font-size-l;
    line-height: v.$line-height-l;
    font-weight: v.$font-weight-normal;
}
