@use 'variables' as v;
@use 'mixins' as m;

/* Header */
.header {
  background: v.$color-white;

  &__container {
    padding: 30px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;

    &-icon {
        margin-right: 5px;
    }

    &-text {
        font-size: v.$font-size-xxs;
        font-weight: v.$font-weight-l;
    }
  }

  &__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 32px;
  }

  &__menu-item {
    font-size: v.$font-size-s;
    color: v.$color-dark;
  }

  &__cart {
    border: none;
    background-color: v.$color-white;
    cursor: pointer;
  }
}

/* Hero */
.hero {
  background: url('../images/hero-bg.png') center/cover no-repeat;
  color: v.$color-white;
  height: 750px;
  padding-left: v.$padding-horizontal;
  display: flex;
  align-items: center;

  &__content {
    width: 648px;
  }

  &__title {
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: v.$font-size-s;
    line-height: v.$line-height-s;
  }

  &__button {
    width: 220px;
  }
}

/* Collection */
.collection {
  padding: v.$padding-vertical v.$padding-horizontal;
  text-align: center;

  &__grid {
    display: grid;
    gap: v.$gap-m;
    grid-template-columns: repeat(auto-fit, minmax(312px, 312px));
  }
}

/* FAQ */
.faq {
  background: v.$color-grey-background;
  text-align: center;
  padding: 80px 60px;

  &__subtitle {
    color: v.$color-gray;
  }

  &__list {
    text-align: left;
    max-width: 872px;
    margin: 0 auto;
    padding: v.$padding-vertical 0;
  }

  &__item {
    background: v.$color-white;
    border-radius: v.$border-radius;
    margin-bottom: v.$margin-vertical-s;
    border: 1px solid v.$color-stroke;
  }

  details {
    border-radius: v.$border-radius;
    padding: 24px 24px;
  }
  
  summary {
    list-style: none;           
    cursor: pointer;
    position: relative;
    color: v.$color-dark;
  }
  
  summary::-webkit-details-marker {
    display: none; 
  }
  
  summary::after {
    content: "+";
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.3s ease;
    border: 1px solid v.$color-dark;
    border-radius: 50%;
    padding: 1px 2px;
    line-height: 12px;
  }
  
  details[open] summary::after {
    content: "−";    
  }

  &__answer {
    color: v.$color-gray;
  }
}

/* Highlight */
.highlight {
  display: grid;
  gap: 24px;
  grid-template-columns: 88px 1fr 1fr;
  background-color: v.$color-white;
  padding: 80px 60px 24px;

  &__main {
    position: relative;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
  }

  &__name {
    margin: 0;
  }

  &__thumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__thumb-item {
    cursor: pointer;
  }

  & li.active-item {
    filter: brightness(80%);
  }

  &__main-image {
    border-radius: v.$border-radius;
    width: 100%;
  }

  &__rating {
    color: v.$color-dark;
    background-color: v.$color-white;
    border-radius: v.$border-radius;
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    padding: 4px 8px 4px 12px;
  }

  &__rating-text {
    padding-left: 4px;
  }

  &__price {
    color: v.$color-gray;
    margin: 0;
  }

  &__colors {
    display: flex;
    gap: v.$gap-s;
  }

  &__color-image {
    border-radius: v.$border-radius;
    overflow: hidden;

    & img {
        width: 88px;
        height: 88px;
    }

    &--active {
        border: 1px solid v.$color-dark;
    }    
  }

  &__sizes {
    border: none;
    color: v.$color-dark;
    padding: 0;

    display: grid;
    gap: v.$gap-s;
    grid-template-columns: repeat(auto-fit, minmax(190px, 190px));   
    justify-content: space-evenly;     
  }

  &__sizes-selector {
    padding-bottom: 8px;
  }

  &__size {
    width: 190px;
    height: 52px;
    border: 1px solid v.$color-gray;
    border-radius: v.$border-radius;
    background: v.$color-white;
    cursor: pointer;
    text-align: center;
    line-height: 52px;
    border: 1px solid v.$color-stroke;

    &--active {
      border: 1px solid v.$color-dark;
    }
  }

  &__button {
    width: 100%;
    @extend .button--dark !optional;
  }

  &__description {
    color: v.$color-gray;
  }
}

/* Contact */
.contact {
  background: v.$color-grey-background;
  padding: 80px 80px 60px 80px;
  text-align: center;

  &__title {
    color: v.$color-dark;
    font-weight: v.$font-weight-normal;
  }

  &__form {
    padding-top: v.$margin-vertical-l;
    display: flex;
    flex-direction: column;
    max-width: 872px;
    margin: 0 auto;

    & input, & textarea {
        padding: v.$gap-m;
        border-radius: v.$border-radius;
        border: 1px solid v.$color-stroke;
        color: v.$color-gray;
    }
  }

  &__person {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__field {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-grow: 1;
    padding-right: 24px;
    padding-bottom: 24px;

    & span {
        padding-bottom: v.$gap-s;
    }
  }

  &__submit {
    @extend .button--light !optional;
    width: 120px;
    margin: 0 auto;
  }
}

/* Footer */
.footer {
  background: v.$color-white;
  padding: 60px 60px 24px 60px;

  &__nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(312px, 312px));
    gap: v.$gap-m;
  }

  &__heading {
    color: v.$color-dark;
    margin-bottom: v.$margin-vertical-s;
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;
    color: v.$color-gray;

    & li {
        margin-bottom: v.$margin-vertical-xs;
    }
  }

  &__legal {
    color: v.$color-gray;
    display: flex;
    align-items: center;
    padding-top: 24px;

    & li {
        margin-right: v.$margin-horizontal-m;
    }
  }

  &__policies {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
  }
}
