@use 'variables' as v;
@use 'mixins' as m;

/* Header */
.header {
  background: v.$color-white;

  &__container {
    // @include m.container;
    padding: 30px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;

    &-icon {
        margin-right: 5px;
    }

    &-text {
        font-size: v.$font-size-xxs;
        font-weight: v.$font-weight-l;
    }
  }

  &__menu {
    display: flex;
    gap: v.$space-l;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__menu-item {
    font-size: v.$font-size-s;
    color: v.$color-dark;
  }

  &__cart {
    border: none;
    background-color: v.$color-white;
    cursor: pointer;
  }
}

/* Hero */
.hero {
  background: url('../images/hero-bg.png') center/cover no-repeat;
  color: v.$color-white;
  height: 750px;
  padding-left: v.$padding-horizontal;
  display: flex;
  align-items: center;

  &__content {
    width: 648px;
  }

  &__title {
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: v.$font-size-s;
    line-height: v.$line-height-s;
  }

  &__button {
    width: v.$slider-button-width;
  }
}

/* Collection */
.collection {
  padding: v.$padding-vertical v.$padding-horizontal;
  text-align: center;

  &__grid {
    display: grid;
    gap: v.$product-item-gap;
    grid-template-columns: repeat(auto-fit, minmax(v.$product-card-width-desktop, v.$product-card-width-desktop));
  }
}

/* FAQ */
.faq {
  background: v.$color-grey-background;
  text-align: center;
  padding: v.$padding-faq-vertical v.$padding-faq-horizontal;

  &__subtitle {
    color: v.$color-gray;
  }

  &__list {
    text-align: left;
    max-width: v.$details-max-width;
    margin: 0 auto;
    padding: v.$padding-vertical 0;
  }

  &__item {
    background: v.$color-white;
    border-radius: v.$border-radius;
    margin-bottom: v.$margin-vertical-s;
    border: 1px solid v.$color-stroke;
  }

  details {
    border-radius: v.$border-radius;
    padding: v.$padding-summary-vertical v.$padding-summary-horizontal;
  }
  
  summary {
    list-style: none;           
    cursor: pointer;
    position: relative;
    color: v.$color-dark;
  }
  
  summary::-webkit-details-marker {
    display: none; 
  }
  
  summary::after {
    content: "+";
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.3s ease;
  }
  
  details[open] summary::after {
    content: "−";    
  }

  &__answer {
    color: v.$color-gray;
  }
}

/* Highlight */
.highlight {
  display: grid;
  gap: v.$space-l;
  @include m.container;
  margin: v.$space-xl auto;
  padding: v.$space-m;
  grid-template-columns: 1fr 1fr;

  &__thumbs {
    list-style: none;
    padding: 0;
    margin: 0 0 v.$space-m;
    display: flex;
    flex-direction: column;
    gap: v.$space-m;
  }

  &__sizes {
    display: flex;
    flex-wrap: wrap;
    gap: v.$space-s;
    border: none;
    margin: v.$space-m 0;
  }

  &__size {
    border: 1px solid v.$color-gray;
    padding: v.$space-s v.$space-m;
    border-radius: v.$radius-base;
    background: v.$color-white;
    cursor: pointer;

    &--active {
      border-color: v.$color-black;
      font-weight: bold;
    }
  }

  &__button {
    width: 100%;
    @extend .button--primary !optional;
    padding: v.$space-m;
  }
}

/* Contact */
.contact {
  background: v.$color-grey-background;
  padding: 80px 80px 60px 80px;
  text-align: center;

  &__title {
    color: v.$color-dark;
    font-weight: v.$font-weight-normal;
  }

  &__form {
    padding-top: v.$margin-vertical-l;
    display: flex;
    flex-direction: column;

    & input, & textarea {
        padding: v.$gap-m;
        border-radius: v.$border-radius;
        border: 1px solid v.$color-stroke;
        color: v.$color-gray;
    }
  }

  &__person {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__field {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-grow: 1;
    padding-right: v.$padding-input-horizontal;
    padding-bottom: v.$padding-input-vertical;

    & span {
        padding-bottom: v.$gap-s;
    }
  }

  &__submit {
    @extend .button--light !optional;
    width: 120px;
    margin: 0 auto;
  }
}

/* Footer */
.footer {
  background: v.$color-white;
  padding: 60px 60px 24px 60px;

  &__nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(v.$product-card-width-desktop, v.$product-card-width-desktop));
    gap: v.$gap-m;
  }

  &__heading {
    color: v.$color-dark;
    margin-bottom: v.$margin-vertical-s;
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;
    color: v.$color-gray;

    & li {
        margin-bottom: v.$margin-vertical-xs;
    }
  }

  &__legal {
    color: v.$color-gray;
    display: flex;
    align-items: center;

    & li {
        margin-right: v.$margin-horizontal-m;
    }
  }

  &__policies {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
  }
}
