// Colors
$color-black: #000;
$color-dark: #111111;
$color-white: #FFFFFF;
$color-gray-light: #CACACB;
$color-gray: #737373;
$color-stroke: #EBEBEB;

// Typography
$font-family-base: 'Poppins', sans-serif;
$line-height-base: 1.5;

// Layout
$max-width: 1200px;
$radius-base: 0.5rem;
$shadow-card: 0 2px 6px rgba(0, 0, 0, 0.05);

// Spacing
$space-xl: 3rem;
$space-l: 2rem;
$space-m: 1rem;
$space-s: 0.5rem;

// Font sizes
$font-size-xl: 48px;
$font-size-l: 30px;
$font-size-m: 24px;
$font-size-s: 16px;
$font-size-xs: 14px;

// Line height sizes 
$line-height-xl: 48;
$line-height-l: 36;
$line-height-m: 32;
$line-height-s: 24;
$line-height-xs: 20;